.container
  margin-top: 30px
  width: 70%

.card
  padding: 30px

  .card-title
    text-align: center

h1
  font-size: 2rem

/// ICONS

.material-icons
  color: $primary-color
  &.disabled
    color: $primary-color-lighten

.btn
  .material-icons
    color: inherit

/// INDEX

.action_buttons
  .material-icons
    margin: 0px 5px
    font-size: 1.5rem

/// FORM

.form-action-buttons
  a
    margin: 40px
    text-transform: uppercase
    color: $secondary-color

form
  .btn-flat, .btn-flat > i
    color: $secondary-color


/// ERRORS
.error_explanation
  color: $red-color
  ul
    margin: 5px
    li
      padding-left: 10px
      &:before
        content: "-"
        margin-right: 10px
