.container
  margin-top: 30px
  width: 70%

h1
  font-size: 2rem

.error_explanation
  color: $flash_error
  ul
    margin: 5px
    li
      padding-left: 10px
      &:before
        content: "-"
        margin-right: 10px
