// FLASH MESSAGES ////////////////////////////:

#toast-container
  width: 40%
  top: 10%
  right: 28%

.toast
  &.success
    background-color: $flash_success

  &.error
    background-color: $flash_error

  &.notice
    background-color: $flash_notice
